In [2]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("pyspark").getOrCreate()

In [3]:
spark

In [4]:
df_pyspark = spark.read.option('header','true').csv('tset.csv')
df_pyspark

DataFrame[Name: string, Age: string, Roll_no.: string]

In [5]:
df_pyspark.show()

+-------+---+--------+
|   Name|Age|Roll_no.|
+-------+---+--------+
| Gaurav| 26|      25|
|  Swami| 25|      12|
|    Dep| 22|      13|
|  Sunny| 23|      15|
|Bhawesh| 32|      18|
+-------+---+--------+

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Roll_no.: string (nullable = true)

In [13]:
df_pyspark = spark.read.csv('tset.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+---+--------+
|   Name|Age|Roll_no.|
+-------+---+--------+
| Gaurav| 26|      25|
|  Swami| 25|      12|
|    Dep| 22|      13|
|  Sunny| 23|      15|
|Bhawesh| 32|      18|
+-------+---+--------+

In [15]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [18]:
############# data frame is data structure
#-- nothing else|

In [20]:
df_pyspark.head(3)

[Row(Name='Gaurav', Age=26, Roll_no.=25),
 Row(Name='Swami', Age=25, Roll_no.=12),
 Row(Name='Dep', Age=22, Roll_no.=13)]

In [22]:
df_pyspark.select('Name').show()

+-------+
|   Name|
+-------+
| Gaurav|
|  Swami|
|    Dep|
|  Sunny|
|Bhawesh|
+-------+

In [24]:
df_pyspark.select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
| Gaurav| 26|
|  Swami| 25|
|    Dep| 22|
|  Sunny| 23|
|Bhawesh| 32|
+-------+---+

In [25]:
df_pyspark['Name']

Column<'Name'>

In [27]:
df_pyspark['Age','Name']

DataFrame[Age: int, Name: string]

In [28]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Roll_no.: string]

In [29]:
df_pyspark.describe().show()

+-------+-------+------------------+-----------------+
|summary|   Name|               Age|         Roll_no.|
+-------+-------+------------------+-----------------+
|  count|      5|                 5|                5|
|   mean|   null|              25.6|             16.6|
| stddev|   null|3.9115214431215892|5.224940191045253|
|    min|Bhawesh|                22|               12|
|    max|  Swami|                32|               25|
+-------+-------+------------------+-----------------+

In [34]:
#### Ading columns
df_pyspark = df_pyspark.withColumn('After 2 Year',df_pyspark['Age']+2)
df_pyspark

DataFrame[Name: string, Age: int, Roll_no.: int, After 2 Year: int]

In [35]:
df_pyspark.show()

+-------+---+--------+------------+
|   Name|Age|Roll_no.|After 2 Year|
+-------+---+--------+------------+
| Gaurav| 26|      25|          28|
|  Swami| 25|      12|          27|
|    Dep| 22|      13|          24|
|  Sunny| 23|      15|          25|
|Bhawesh| 32|      18|          34|
+-------+---+--------+------------+

In [36]:
#### Drop the Columns

In [37]:
df_pyspark = df_pyspark.drop('After 2 Year')
df_pyspark

DataFrame[Name: string, Age: int, Roll_no.: int]

In [38]:
df_pyspark.show()

+-------+---+--------+
|   Name|Age|Roll_no.|
+-------+---+--------+
| Gaurav| 26|      25|
|  Swami| 25|      12|
|    Dep| 22|      13|
|  Sunny| 23|      15|
|Bhawesh| 32|      18|
+-------+---+--------+

In [39]:
##### Rename the Column

In [42]:
df_pyspark = df_pyspark.withColumnRenamed('Name','Student Name')
df_pyspark

DataFrame[Student Name: string, Age: int, Roll_no.: int]

In [7]:
df_pyspark.show()

+-------+---+--------+
|   Name|Age|Roll_no.|
+-------+---+--------+
| Gaurav| 26|      25|
|  Swami| 25|      12|
|    Dep| 22|      13|
|  Sunny| 23|      15|
|Bhawesh| 32|      18|
+-------+---+--------+