### Pyspark Tutorials
- Filter Operations
- & | 
- ~

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("pyspark4").getOrCreate()
spark

In [2]:
df = spark.read.csv('test4.csv',header=True,inferSchema=True)
df

DataFrame[Name: string, Age: int, Experiances: int, Salary: int]

In [3]:
df.show()

+-------+---+-----------+------+
|   Name|Age|Experiances|Salary|
+-------+---+-----------+------+
|Vaibhav| 31|          4| 30000|
|  Lrish| 25|          6| 15000|
|  Vikas| 29|         12| 20000|
| Gaurav| 39|          9| 60000|
| Kailas| 34|         15|  3000|
|Bhavesh| 30|          3|  1500|
|  Vidhi| 21|          6|  4000|
|  Sunny| 29|          9|  9000|
|   Paul| 24|          4|  7000|
|  Harsa| 29|          5|  6000|
|Shubham| 41|          2|  1000|
+-------+---+-----------+------+

### Filter Operations

In [4]:
### Salary of the people less than or equla to 20000

df.filter("Salary<=20000").show()

+-------+---+-----------+------+
|   Name|Age|Experiances|Salary|
+-------+---+-----------+------+
|  Lrish| 25|          6| 15000|
|  Vikas| 29|         12| 20000|
| Kailas| 34|         15|  3000|
|Bhavesh| 30|          3|  1500|
|  Vidhi| 21|          6|  4000|
|  Sunny| 29|          9|  9000|
|   Paul| 24|          4|  7000|
|  Harsa| 29|          5|  6000|
|Shubham| 41|          2|  1000|
+-------+---+-----------+------+

In [5]:
df.filter("Salary<=20000").select(["Name","Age"]).show()

+-------+---+
|   Name|Age|
+-------+---+
|  Lrish| 25|
|  Vikas| 29|
| Kailas| 34|
|Bhavesh| 30|
|  Vidhi| 21|
|  Sunny| 29|
|   Paul| 24|
|  Harsa| 29|
|Shubham| 41|
+-------+---+

In [6]:
df.filter(df["Salary"]<=20000).show()

+-------+---+-----------+------+
|   Name|Age|Experiances|Salary|
+-------+---+-----------+------+
|  Lrish| 25|          6| 15000|
|  Vikas| 29|         12| 20000|
| Kailas| 34|         15|  3000|
|Bhavesh| 30|          3|  1500|
|  Vidhi| 21|          6|  4000|
|  Sunny| 29|          9|  9000|
|   Paul| 24|          4|  7000|
|  Harsa| 29|          5|  6000|
|Shubham| 41|          2|  1000|
+-------+---+-----------+------+

In [9]:
##  And method
df.filter((df["Salary"]<=20000) & (df["Salary"]>=15000)).show()

+-----+---+-----------+------+
| Name|Age|Experiances|Salary|
+-----+---+-----------+------+
|Lrish| 25|          6| 15000|
|Vikas| 29|         12| 20000|
+-----+---+-----------+------+

In [10]:
### OR method

df.filter((df["Salary"]<=20000) | (df["Salary"]>=15000)).show()

+-------+---+-----------+------+
|   Name|Age|Experiances|Salary|
+-------+---+-----------+------+
|Vaibhav| 31|          4| 30000|
|  Lrish| 25|          6| 15000|
|  Vikas| 29|         12| 20000|
| Gaurav| 39|          9| 60000|
| Kailas| 34|         15|  3000|
|Bhavesh| 30|          3|  1500|
|  Vidhi| 21|          6|  4000|
|  Sunny| 29|          9|  9000|
|   Paul| 24|          4|  7000|
|  Harsa| 29|          5|  6000|
|Shubham| 41|          2|  1000|
+-------+---+-----------+------+

In [11]:
### NOT filter or Inverse Filter

df.filter(~(df["Salary"]<=20000)).show()

+-------+---+-----------+------+
|   Name|Age|Experiances|Salary|
+-------+---+-----------+------+
|Vaibhav| 31|          4| 30000|
| Gaurav| 39|          9| 60000|
+-------+---+-----------+------+