Py Spark
- Groupby
- Aggreagate funcation

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("pyspark5").getOrCreate()
spark

In [2]:
df = spark.read.csv('test5.csv',header=True,inferSchema=True)
df

DataFrame[Name: string, Depatments: string, Salary: int]

In [3]:
df.show()

+------+------------+------+
|  Name|  Depatments|Salary|
+------+------------+------+
| Krish|Data Science|  1000|
|Gaurav|         IOT| 15000|
|Mahesh|Data Science| 20000|
| Krish|    Big Data|  8000|
|Gaurav|Data Science| 30000|
|Mahesh|         IOT| 19000|
|Gaurav|Data Science| 29000|
|Mahesh|Data Science| 28000|
| Krish|         IOT| 25000|
|Gaurav|Data Science|  2000|
| Krish|Data Science|  6000|
+------+------------+------+

In [4]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Depatments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [5]:
## GroupBy

In [7]:
df.groupBy('Name')

In [8]:
df.groupBy('Name').sum()

DataFrame[Name: string, sum(Salary): bigint]

In [11]:
### goupby to find the maximum salary
df.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(Salary)|
+------+-----------+
|Gaurav|      76000|
| Krish|      40000|
|Mahesh|      67000|
+------+-----------+

In [12]:
df.groupBy('Name').mean().show()

+------+------------------+
|  Name|       avg(Salary)|
+------+------------------+
|Gaurav|           19000.0|
| Krish|           10000.0|
|Mahesh|22333.333333333332|
+------+------------------+

In [13]:
### goupby Department with gives maximum salary

df.groupBy('Depatments').sum().show()

+------------+-----------+
|  Depatments|sum(Salary)|
+------------+-----------+
|         IOT|      59000|
|    Big Data|       8000|
|Data Science|     116000|
+------------+-----------+

In [14]:
df.groupBy('Depatments').mean().show()

+------------+------------------+
|  Depatments|       avg(Salary)|
+------------+------------------+
|         IOT|19666.666666666668|
|    Big Data|            8000.0|
|Data Science|16571.428571428572|
+------------+------------------+

In [15]:
df.groupBy('Depatments').count().show()

+------------+-----+
|  Depatments|count|
+------------+-----+
|         IOT|    3|
|    Big Data|    1|
|Data Science|    7|
+------------+-----+

In [16]:
df.agg({'Salary':'sum'})

DataFrame[sum(Salary): bigint]

In [17]:
df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     183000|
+-----------+

In [19]:
df.groupBy('Depatments').max().show()

+------------+-----------+
|  Depatments|max(Salary)|
+------------+-----------+
|         IOT|      25000|
|    Big Data|       8000|
|Data Science|      30000|
+------------+-----------+

In [21]:
df.groupBy('Depatments').min().show()

+------------+-----------+
|  Depatments|min(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|       8000|
|Data Science|       1000|
+------------+-----------+

In [23]:
df.groupBy('Depatments').avg().show()

+------------+------------------+
|  Depatments|       avg(Salary)|
+------------+------------------+
|         IOT|19666.666666666668|
|    Big Data|            8000.0|
|Data Science|16571.428571428572|
+------------+------------------+